{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.name }}</h1>
          <p><strong>Author(s):</strong> {% for author in book.authors.all %}<a href="">{{author.name}} {{author.patronymic}}
          {{author.surname}}</a><br>{% endfor %} </p> <!-- author detail link not yet defined -->
          <p><strong>Description:</strong> {{ book.description }}</p>
          <p><strong>In Stock:</strong> {{ book.count }}</p>

<!--  <div style="margin-left:20px;margin-top:20px">-->
<!--    <h4>Not returned books</h4>-->
<!--    {% for order in order.get_all %}-->
<!--      {{ order.get_not_returned_books }}-->
<!--    {% endfor %}-->
<!--  </div>-->
{% endblock %}